<h2>Add a band to your list of bands!</h2>

<form action="/add_band" method="post">
  <label for="name">Enter your band's name:</label>
  <input id="name" name="name" type="text">
  <br>
  <button type="submit">Add Band</button>
</form>
