<%= @success_message %>

<form action="/venues" method="post">
  <label for="description">Enter your venue's name/description:</label>
  <input id="description" name="description" type="text">
  <br>
  <button type="submit">Add Venue</button>
</form>

<br>
<a href="/">Return Home</a>
